.ignitiondeck .id-product-infobox {
  background-image: rgba(16, 65, 109, 0.7);
  /* Old browsers */
  background-image: -moz-linear-gradient(rgba(32, 123, 179, 0.7) 0px, rgba(16, 65, 109, 0.7) 500px);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0px, rgba(32, 123, 179, 0.7)), color-stop(500px, rgba(16, 65, 109, 0.7)));
  /* Chrome,Safari4+ */
  background-image: -webkit-linear-gradient(rgba(32, 123, 179, 0.7) 0px, rgba(16, 65, 109, 0.7) 500px);
  background-image: -o-linear-gradient(rgba(32, 123, 179, 0.7) 0px, rgba(16, 65, 109, 0.7) 500px);
  background-image: -ms-linear-gradient(rgba(32, 123, 179, 0.7) 0px, rgba(16, 65, 109, 0.7) 500px);
  background-image: linear-gradient(rgba(32, 123, 179, 0.7) 0px, rgba(16, 65, 109, 0.7) 500px);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#B3207BB3', endColorstr='#B310416D',GradientType=0);
  color: white; }
.ignitiondeck h2.id-product-title a {
  color: white; }
.ignitiondeck .progress-wrapper {
  background: rgba(27, 27, 27, 0.66);
  border-top: 2px solid #1b1b1b;
  border-bottom: 2px solid #1b1b1b; }
.ignitiondeck .progress-bar {
  background: -moz-linear-gradient(top, rgba(195, 0, 0, 0.66) 0%, rgba(174, 0, 11, 0.65) 58%, rgba(218, 57, 0, 0.75) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(195, 0, 0, 0.66)), color-stop(58%, rgba(174, 0, 11, 0.65)), color-stop(100%, rgba(218, 57, 0, 0.75)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(195, 0, 0, 0.66) 0%, rgba(174, 0, 11, 0.65) 58%, rgba(218, 57, 0, 0.75) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(195, 0, 0, 0.66) 0%, rgba(174, 0, 11, 0.65) 58%, rgba(218, 57, 0, 0.75) 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(195, 0, 0, 0.66) 0%, rgba(174, 0, 11, 0.65) 58%, rgba(218, 57, 0, 0.75) 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, rgba(195, 0, 0, 0.66) 0%, rgba(174, 0, 11, 0.65) 58%, rgba(218, 57, 0, 0.75) 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a8c30000', endColorstr='#bfda3900',GradientType=0 );
  /* IE6-9 */ }
.ignitiondeck .progress-percentage {
  color: white; }
.ignitiondeck .id-product-funding, .ignitiondeck .id-product-pledges {
  color: rgba(255, 255, 255, 0.65); }
.ignitiondeck .id-product-proposed-end {
  color: rgba(255, 255, 255, 0.65);
  font-weight: lighter; }
.ignitiondeck .id-product-description {
  color: #9ED7FF;
  background: rgba(16, 65, 109, 0.45); }
.ignitiondeck a.main-btn, .ignitiondeck a.learn-more-button {
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  background: #c73c11;
  /* Old browsers */
  background: -moz-linear-gradient(top, #c73c11 0%, #a71524 42%, #a81419 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #c73c11), color-stop(42%, #a71524), color-stop(100%, #a81419));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #c73c11 0%, #a71524 42%, #a81419 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #c73c11 0%, #a71524 42%, #a81419 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #c73c11 0%, #a71524 42%, #a81419 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #c73c11 0%, #a71524 42%, #a81419 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c73c11', endColorstr='#a81419',GradientType=0 );
  /* IE6-9 */
  color: rgba(255, 255, 255, 0.9) !important; }
.ignitiondeck a.main-btn:hover, .ignitiondeck a.main-btn:active, .ignitiondeck a.learn-more-button:hover, .ignitiondeck a.learn-more-button:active {
  background: #d84f00;
  /* Old browsers */
  background: -moz-linear-gradient(top, #d84f00 0%, #ad0d10 42%, #a30407 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d84f00), color-stop(42%, #ad0d10), color-stop(100%, #a30407));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #d84f00 0%, #ad0d10 42%, #a30407 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #d84f00 0%, #ad0d10 42%, #a30407 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #d84f00 0%, #ad0d10 42%, #a30407 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #d84f00 0%, #ad0d10 42%, #a30407 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d84f00', endColorstr='#a30407',GradientType=0 );
  /* IE6-9 */
  color: white !important; }
.ignitiondeck .id-product-levels a .level-group {
  -webkit-transition: all 200ms ease-in-out 0;
  -moz-transition: all 200ms ease-in-out 0;
  -o-transition: all 200ms ease-in-out 0;
  transition: all 200ms ease-in-out 0;
  background: rgba(27, 27, 27, 0.15); }
.ignitiondeck .id-product-levels a .level-group:hover {
  background: rgba(4, 66, 122, 0.6); }
.ignitiondeck .id-product-levels a .id-level-title {
  background: rgba(36, 149, 218, 0.5);
  color: #fff;
  -webkit-transition: all 300ms ease 0;
  -moz-transition: all 300ms ease 0;
  -o-transition: all 300ms ease 0;
  transition: all 300ms ease 0; }
.ignitiondeck .id-product-levels a .level-group:hover .id-level-title {
  background: rgba(36, 149, 218, 0.7); }
.ignitiondeck .id-product-levels a .id-level-title span {
  font-weight: lighter; }
.ignitiondeck .id-product-levels a .id-level-desc {
  color: white; }
.ignitiondeck .id-product-levels a .id-level-desc p {
  color: white; }
.ignitiondeck .id-product-levels a .id-level-counts {
  color: #00B0FF; }
.ignitiondeck .poweredbyID span a {
  background: transparent url(images/poweredbyID-bright.png) no-repeat center center;
  background-size: 136px 39px; }
.ignitiondeck.id-creatorprofile {
  color: white;
  background-image: rgba(16, 65, 109, 0.7);
  /* Old browsers */
  background-image: -moz-linear-gradient(rgba(32, 123, 179, 0.7) 0px, rgba(16, 65, 109, 0.7) 500px);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0px, rgba(32, 123, 179, 0.7)), color-stop(500px, rgba(16, 65, 109, 0.7)));
  /* Chrome,Safari4+ */
  background-image: -webkit-linear-gradient(rgba(32, 123, 179, 0.7) 0px, rgba(16, 65, 109, 0.7) 500px);
  background-image: -o-linear-gradient(rgba(32, 123, 179, 0.7) 0px, rgba(16, 65, 109, 0.7) 500px);
  background-image: -ms-linear-gradient(rgba(32, 123, 179, 0.7) 0px, rgba(16, 65, 109, 0.7) 500px);
  background-image: linear-gradient(rgba(32, 123, 179, 0.7) 0px, rgba(16, 65, 109, 0.7) 500px);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#B3207BB3', endColorstr='#B310416D',GradientType=0);
  border: none; }
  .ignitiondeck.id-creatorprofile .id-creator-links a {
    color: #fff; }

.ignitiondeck .id-purchase-form-wrapper, .ignitiondeck .id-fes-form-wrapper {
  background-image: rgba(16, 65, 109, 0.7);
  /* Old browsers */
  background-image: -moz-linear-gradient(rgba(32, 123, 179, 0.7) 0px, rgba(16, 65, 109, 0.7) 500px);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0px, rgba(32, 123, 179, 0.7)), color-stop(500px, rgba(16, 65, 109, 0.7)));
  /* Chrome,Safari4+ */
  background-image: -webkit-linear-gradient(rgba(32, 123, 179, 0.7) 0px, rgba(16, 65, 109, 0.7) 500px);
  background-image: -o-linear-gradient(rgba(32, 123, 179, 0.7) 0px, rgba(16, 65, 109, 0.7) 500px);
  background-image: -ms-linear-gradient(rgba(32, 123, 179, 0.7) 0px, rgba(16, 65, 109, 0.7) 500px);
  background-image: linear-gradient(rgba(32, 123, 179, 0.7) 0px, rgba(16, 65, 109, 0.7) 500px);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#B3207BB3', endColorstr='#B310416D',GradientType=0); }
.ignitiondeck .id-purchase-form {
  border: none; }
.ignitiondeck form {
  border: none;
  color: white; }
  .ignitiondeck form h1, .ignitiondeck form h2, .ignitiondeck form h3, .ignitiondeck form h4, .ignitiondeck form h5, .ignitiondeck form h6, .ignitiondeck form .form-level {
    border-bottom: 1px solid rgba(255, 255, 255, 0.3); }
  .ignitiondeck form #stripe-input:after {
    background: #75B83A;
    color: #fff; }
  .ignitiondeck form #id-notifications .notification {
    background-color: #cee2f2;
    border-color: #2e82ae;
    color: #04294b; }
  .ignitiondeck form #message-container .notification.error {
    background-color: #F2D4CE;
    border-color: #AE432E;
    color: #4b0505; }
  .ignitiondeck form #message-container .close-notification {
    color: #737373; }
  .ignitiondeck form .form-row label {
    color: white; }
  .ignitiondeck form .form-row input {
    background-color: #ffffff; }
  .ignitiondeck form .form-row input, .ignitiondeck form .form-row textarea, .ignitiondeck form .form-row select {
    color: #444;
    border: 1px solid #9CB0B9; }
  .ignitiondeck form .finaldesc, .ignitiondeck form .finaldesc p {
    color: white; }
  .ignitiondeck form .main-btn, .ignitiondeck form .form-row input[type=submit] {
    border: none;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    background: #c73c11;
    /* Old browsers */
    background: -moz-linear-gradient(top, #c73c11 0%, #a71524 42%, #a81419 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #c73c11), color-stop(42%, #a71524), color-stop(100%, #a81419));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #c73c11 0%, #a71524 42%, #a81419 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #c73c11 0%, #a71524 42%, #a81419 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #c73c11 0%, #a71524 42%, #a81419 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, #c73c11 0%, #a71524 42%, #a81419 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c73c11', endColorstr='#a81419',GradientType=0 );
    /* IE6-9 */
    color: rgba(255, 255, 255, 0.9); }
  .ignitiondeck form .main-btn:hover, .ignitiondeck form .form-row input[type=submit]:hover {
    background: #d84f00;
    /* Old browsers */
    background: -moz-linear-gradient(top, #d84f00 0%, #ad0d10 42%, #a30407 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d84f00), color-stop(42%, #ad0d10), color-stop(100%, #a30407));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #d84f00 0%, #ad0d10 42%, #a30407 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #d84f00 0%, #ad0d10 42%, #a30407 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #d84f00 0%, #ad0d10 42%, #a30407 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, #d84f00 0%, #ad0d10 42%, #a30407 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d84f00', endColorstr='#a30407',GradientType=0 );
    /* IE6-9 */
    color: white; }
  .ignitiondeck form .payment-errors {
    color: rgba(255, 255, 255, 0.92);
    background-color: rgba(183, 14, 14, 0.77); }
  .ignitiondeck form .payment-type-selector a {
    color: #cccccc;
    background: #10416d; }
  .ignitiondeck form .payment-type-selector a:hover, .ignitiondeck form .payment-type-selector a.active {
    border: 1px solid white;
    color: white; }
  .ignitiondeck form .payment-type-selector a.active:hover {
    border: 1px solid white;
    color: white; }
  .ignitiondeck form .id-checkout-level-desc {
    background-color: rgba(16, 65, 109, 0.2);
    color: rgba(255, 255, 255, 0.7); }
  .ignitiondeck form .ign-checkout-price {
    color: white; }
  .ignitiondeck form label.dd-selected-text {
    color: #1b1b1b; }
  .ignitiondeck form label.dd-option-text {
    color: #5b92d6; }
  .ignitiondeck form .dd-option-description {
    border-left: 1px solid #207bb3; }
  .ignitiondeck form .required-mark {
    color: #1b1b1b; }
  .ignitiondeck form .red-border {
    border: 1px solid red; }
  .ignitiondeck form .form-item-error-msg {
    font-size: 10.66667px;
    font-weight: bold;
    color: red; }
